@page
@using Web.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<component type="typeof(BusinessMonth)"
           render-mode="ServerPrerendered"
           param-ForTimestamp="@(new DateTime(2024, 1, 1))" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
